body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
}

.navbar {
  background-color: #313236;
  font-size: 20px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.very-big {
  font-size: 8em;
}

.feature-table {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.hiw-part {
  display: block;
  padding-bottom: 80px;
}

.hiw-part>svg {
  color: #00FFFC;
}

@media (min-width: 600px) {
  .feature-table {
    grid-template-columns: repeat(3, 1fr);
  }

  .hiw-part {
    padding-left: 10%;
    padding-right: 10%;
  }
}